<library path="src">
  <class name="My Plugin" type="rqt_topic_display.topic_display.TopicDisplay" base_class_type="rqt_gui_py::Plugin">
    <description>
      Subscribe to a single topic (initially probably just text and next numerical) and display it, possibly with a label and with a configurable font size.  Threshold color background warnings may be introduced for numerical.
    </description>
    <qtgui>
      <group>
        <label>Topics</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Topic Display</label>
      <icon type="theme">system-help</icon>
      <statustip>Display values from a single (TBD multiple may be supported later) topic</statustip>
    </qtgui>
  </class>
</library>
